



@*<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <p>Course Title :<input type="text" Name="Name" /> </p>
    <span asp-validation-for="Name"></span>

    <p>
        Code :<input type="text" Name="Code" />
    </p>
    <span asp-validation-for="Code"></span>

    <p>
        Credit :<input type="text" Name="Credit" />
    </p>
    <span asp-validation-for="Credit"></span>



    <input type="submit" value="Sbmit" />

</form>
*@